body{
    font-family: 'Josefin Sans', sans-serif;
}

#mynetwork {
    position: relative;
    height: 450px;
    border: 1px solid #17a2b8;
    border-radius: 5px;
    background: white;
    opacity: .7;
    
}

h1{
    color: white;
}

#network-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 120px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

#config {
    float: left;
    width: 400px;
    height: 600px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -10;
  }

  small{
    font-size: 40% !important;
  }